header {
  text-align: center;
  padding: 30px;
}
.form-post-nm {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 190px;
  font-size: 11px;
  margin: 3px;
}

.form-post-cnt {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 90px;
  font-size: 11px;
  margin: 3px;
}

.form-post-ct {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 90px;
  font-size: 11px;
  margin: 3px;
}

.form-post-str {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 190px;
  font-size: 11px;
  margin: 3px;
}

.form-post-ph {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 190px;
  font-size: 11px;
  margin: 3px;
}

.form-post-ix {
  border-radius: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  height: 24px;
  width: 190px;
  font-size: 11px;
  margin: 3px;
}
.form {
  padding-top: 15px;
}
section {
  /*  */
}
.background {
  width: 100%;
  height: 100%;
  background: url(../img/conf.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding: 21px;
  
}
div.col {
  padding-bottom: 50px;
}
div.sender {
  margin-left: 131px;
  margin-top: 25px;
}

div.reco {
  margin-left: 33px;
  margin-bottom: 20px;
}
.button {
  text-align: center;
}